.diary-page {
  background: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.diary {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;
  max-width: 700px;
  max-height: 90vh;
  overflow: auto;
  @include acrylic-background-white;

  .wrapper {
    width: 100%;
  }

  &-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    scroll-behavior: smooth;

    &__title-container {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-content: center;

      &_title {
        font-family: "SegoeUI";
        font-size: 24px;
        color: #323130;
        font-weight: 600;
        line-height: 1;
      }

      &_logout {
        &_btn {
          @include button-white();
        }
      }
    }

    &__days-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      &_emtry {
        font-family: "SegoeUI";
        font-weight: normal;
        color: #000;
        font-weight: bold;
        margin: 50px 0;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .diary-container {
      margin: 20px 7px;

      &__title-container {
        flex-direction: column;

        &_title {
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        &_logout {
          display: flex;
          justify-content: flex-end;
          margin-top: 10px;
        }
      }

      .day-container {
        margin: 6px;

        &__save-btn {
          width: 100%;
        }
      }
    }
  }
}
