.diary-page {
  background: $background-color;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.diary {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;
  max-width: 700px;
  max-height: 90vh;
  overflow: auto;
  @include acrylic-background-white;

  .wrapper {
    width: 100%;
  }

  &-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    scroll-behavior: smooth;

    &__title-container {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-content: center;

      &_title {
        font-weight: 600;
        font-size: rem(24px);
        line-height: rem(28px);
        color: #323130;
      }

      &_logout {
        &_btn {
          @include button-white();
        }
      }
    }

    &__main {
      display: flex;
      width: 100%;

      &_new-day-container {
        width: 50%;
      }

      &_calendar-container {
        width: 50%;

        .search-panel {
          @include acrylic-background-white;
          width: max-content;
          margin-bottom: 15px;

          &__container {
            display: flex;
            align-items: center;
            margin: 10px;

            &_item {
              display: flex;
              margin-right: 3px;

              &:last-child {
                margin: 0;
              }
            }
          }
        }
      }

      &_emtry {
        font-weight: normal;
        color: #000;
        font-weight: bold;
        margin: 50px 0;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .diary-container {
      margin: 20px 7px;

      &__title-container {
        flex-direction: column;

        &_title {
          text-align: center;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        &_logout {
          display: flex;
          justify-content: flex-end;
          margin-top: 10px;
        }
      }

      .day-container {
        margin: 6px;

        &__save-btn {
          width: 100%;
        }
      }
    }
  }
}

.diary-notifications-list {
  position: absolute;
  bottom: 2vh;
  left: 2vh;

  &__notify {
    margin-top: 10px;

    &_logout {
      color: blue;
      text-decoration: underline;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}
