.diary-page {
  background: url(../images/bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.diary {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;
  max-width: 700px;
  height: 90vh;
  overflow: auto;
  @include acrylic-background-white;

  .wrapper {
    width: 100%;
  }

  &-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    scroll-behavior: smooth;

    &__title-container {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-content: center;

      &_title {
        font-family: "SegoeUI";
        font-size: 24px;
        color: #323130;
        font-weight: 600;
        line-height: 1;
      }

      &_logout {
        &_btn {
          @include button-white();
        }
      }
    }

    &__days-container {
      width: 100%;
    }

    &_emtry {
      font-family: "SegoeUI";
      font-weight: normal;
      color: #000;
      margin: 50px 0;
    }
  }
}
