.diary-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.diary {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;
  max-width: 700px;
  overflow: auto;
  @include acrylic-background-white;

  .wrapper {
    width: 100%;
  }

  &-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    scroll-behavior: smooth;

    &__toogler {
      width: 50px;
      height: 50px;
      display: none;
      cursor: pointer;
    }

    &__title-container {
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-content: center;

      &_title {
        font-weight: 600;
        font-size: rem(24px);
        line-height: rem(28px);
        color: #323130;
      }

      &_logout {
        display: flex;

        &_btn,
        .ms-Button {
          @include button-white();
          padding: 0;
          background: none;
          color: rgb(50, 49, 48);
          box-shadow: none;
          border: none;
          color: #fff;
          font-size: 1.3rem;
        }
      }
    }

    &__main {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &_new-day-container {
        max-width: 60%;
        width: 100%;
      }

      &_calendar-container {
        max-width: 40%;
        width: 100%;
        margin-right: 15px;

        .search-panel {
          width: 100%;
          margin-bottom: 15px;

          &__row {
            display: flex;
            width: 100%;

            &_item {
              @include acrylic-background-white;
              margin-right: 15px;
              max-width: 100%;
              width: max-content;

              &_cont {
                display: flex;
                margin: 10px;

                .ms-TextField {
                  width: 100%;
                }
              }

              &:last-child {
                margin: 0;
              }
            }
          }
        }

        .find-text-block {
          width: 100%;

          .search-panel {
            width: 100%;
            margin-bottom: 15px;

            &__row_item {
              width: 100%;

              .ms-SearchBox {
                width: 100%;
              }
            }
          }

          .finded-list {
            display: flex;
            flex-direction: column;
            margin: 0 10px;

            .finded-list__title {
              font-weight: 600;
              font-size: rem(24px);
              line-height: rem(28px);
              color: #323130;
              margin-bottom: 15px;
            }
          }
        }

        &-animation-enter {
          opacity: 0;
          margin-top: -465px;
        }

        &-animation-enter-active {
          opacity: 1;
          margin-top: 0;
          transition: all ease 0.4s;
        }

        &-animation-exit {
          opacity: 1;
          margin-top: 0;
        }

        &-animation-exit-active {
          opacity: 0;
          margin-top: -465px;
          transition: all ease 0.4s;
        }
      }

      &_emtry {
        font-weight: normal;
        color: #000;
        font-weight: bold;
        margin: 50px 0;
      }
    }
  }
}

.diary-notifications-list {
  position: fixed;
  bottom: 2vh;
  left: 2vh;

  &__notify {
    margin-top: 10px;

    &_logout {
      color: blue;
      text-decoration: underline;
      margin-left: 5px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 740px) {
  .diary-container {
    align-items: flex-start;
  }

  .diary-container__main {
    flex-direction: column;
    position: relative;

    &_calendar-container {
      @include acrylic-background-white;
      box-sizing: border-box;
      padding: 10px;
      max-width: 100%;
      margin-bottom: 15px;
    }

    &_new-day-container {
      max-width: 100%;

      .day {
        margin: 0;
      }
    }
  }

  .diary-container__toogler {
    display: flex;
    align-items: center;
    justify-content: center;
    @include acrylic-background-white;
    font-size: 1.25rem;
    color: #000;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 400px) {
  .diary-container {
    margin: 20px 7px;

    &__title-container {
      flex-direction: column;

      &_title {
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      &_logout {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
      }
    }

    .day-container {
      margin: 6px;

      &__btn {
        width: 100%;
        margin-bottom: 3px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .diary {
    margin: 10px 0;

    .diary-container {
      margin: 10px 0;

      .diary-container__main_calendar-container {
        padding: 10px 0;
      }
    }
  }
}
