.offline {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include acrylic-background-white;
  @include startWindowOpacity;
  opacity: 0;
  background-color: rgba($color: #a4262c, $alpha: 0.6);
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  z-index: 4;

  &__icon {
    font-size: 2.7rem;
    margin-bottom: 5px;
  }
}
