// start animation
$start-opacity: start-opacity 0.3s 1 linear;
$start-opacity-fill-mode: none, forwards;

$fisrt: 0.1s;
$second: 0.2s;
$third: 0.3s;
$window: 0.4s;

@keyframes start-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
