@import "~sass-rem";
@import "./variables";
@import "./fonts";
@import "./mixins";
@import "./micon.min";
@import "./universe";
@import "../containers/Auth/style.scss";
@import "../containers/Diary/style.scss";
@import "../components/Day/style.scss";
@import "../components/Preloader/style.scss";
@import "../components/Modal/style.scss";
@import "../components/StatisticModal/style.scss";
@import "../components/ExportModal/style.scss";
@import "./calendar";

* {
  padding: 0;
  margin: 0;
}

body {
  background: $background-color;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI",
    -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
