@keyframes slowhand {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes secondhand {
  0% {
    transform: rotate(-90deg);
  }
  10% {
    transform: rotate(-100deg);
  }
  15% {
    transform: rotate(-100deg);
  }
  85% {
    transform: rotate(1020deg);
  }
  90% {
    transform: rotate(990deg);
  }
  100% {
    transform: rotate(990deg);
  }
}

.preloader-fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include acrylic-background-black;
  z-index: 5;

  &__block {
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    @include acrylic-background-white;
    border-radius: 2px;
    z-index: 5;
  }
}

.preloader-mini {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  @include acrylic-background-white;
  border-radius: 3px;
}

.preloader {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-radius: 50%;
  position: relative;
  z-index: 4;
}

.big-hand {
  width: 43%;
  height: 2px;
  background: #000;
  position: absolute;
  top: calc(50% - 1.5px);
  left: 50%;
  animation: slowhand 15s infinite linear;
  transform-origin: left center;
}

.small-hand {
  width: 30%;
  height: 2px;
  background: #000;
  position: absolute;
  top: calc(50% - 1.5px);
  left: 50%;
  transform-origin: left center;
  animation: slowhand 60s infinite linear;
}

.second-hand {
  width: 42%;
  height: 1px;
  background: red;
  position: absolute;
  top: calc(50% - 1.5px);
  left: 50%;
  transform-origin: left center;
  animation: secondhand 1.5s infinite;
  z-index: 10;
}
