.day {
  @include acrylic-background-white;
  width: 100%;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &-container {
    margin: 10px;

    &__date {
      font-weight: 400;
      font-size: rem(20px);
      line-height: rem(24px);
      color: #000;
    }

    &__text {
      font-weight: 400;
      font-size: rem(20px);
      line-height: rem(24px);
      text-align: justify;
      color: #000;
      margin: 10px 0;
      max-width: 100%;
      word-wrap: break-word;

      &_area {
        font-family: inherit;
        text-align: justify;
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(20px);
        padding: 6px 8px;
        box-sizing: border-box;
        color: rgb(50, 49, 48);
        text-overflow: ellipsis;
        max-width: 100%;
        width: 100%;
        resize: vertical;
        min-height: 10vh;
        max-height: 50vh;
        box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132),
          0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);

        &:focus,
        &:active {
          outline-style: none;
        }
      }
    }

    &__save-btn {
      @include button-white();
    }
  }
}
