.day {
  @include acrylic-background-white;
  background: #ccc;
  width: 100%;
  margin-bottom: 20px;

  &-container {
    margin: 1px 10px 10px;

    &__date {
      font-weight: 600;
      font-size: rem(14px);
      line-height: rem(20px);
      color: #000;
    }

    &__text {
      font-weight: 400;
      font-size: rem(14px);
      line-height: rem(20px);
      text-align: justify;
      color: #000;
      margin-bottom: 7px;
      max-width: 100%;
      word-wrap: break-word;

      &_area {
        font-family: inherit;
        text-align: justify;
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(20px);
        box-sizing: border-box;
        color: rgb(50, 49, 48);

        .ms-TextField-field {
          min-height: 10vh;
          resize: vertical;
        }
      }
    }

    &__btn {
      @include button-white();
      margin-right: 5px;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.mini-day {
  transition-duration: 0.2s;
  cursor: pointer;

  &:hover {
    border: 1px solid #6e6e6e;
  }
}
