.day {
  @include acrylic-background-white;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &-container {
    margin: 10px;

    &__date {
      font-family: "Courier New";
      font-weight: bold;
      color: #000;
    }

    &__text {
      font-family: "Courier New";
      font-weight: normal;
      text-align: justify;
      color: #000;
      margin: 10px 0;
      max-width: 100%;
      word-wrap: break-word;

      &_area {
        font-family: "Courier New";
        font-weight: normal;
        text-align: justify;
        border: none;
        max-width: 100%;
        width: 100%;
        resize: vertical;
        min-height: 10vh;
        max-height: 50vh;

        &:focus,
        &:active {
          outline-style: none;
          box-shadow: none;
        }
      }
    }

    &__save-btn {
      font-family: "Courier New";
      font-weight: bold;
      color: #000;
      background-color: white;
      border: 2px solid #000;
      width: 80px;
      height: 30px;
      cursor: pointer;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
