.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  // background: url("https://odc.officeapps.live.com/odc/stat/images/hrd/background.jpg");

  .auth-form {
    position: relative;
    @include acrylic-background-white;
    z-index: 2;

    .auth_login {
      position: relative;
      font-family: "Courier New", Courier, monospace;
      text-decoration: underline;
      font-weight: bold;
      margin: 0 10px 10px 0;
      text-align: right;
      cursor: pointer;
      z-index: 2;
    }

    .auth_error {
      position: relative;
      color: red;
      text-align: center;
      margin: 20px auto;
      z-index: 2;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: "Courier New";
      margin: 30px 30px 0;
      height: 100%;
      z-index: 4;
    }

    &__title {
      z-index: 4;
    }

    &__inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      z-index: 4;

      &_input {
        margin-bottom: 10px;
        background-color: transparent;
        color: #000;
        font-family: "Courier New";
        font-size: 16px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
        height: 30px;
        box-sizing: border-box;
        transition: all ease-in-out 0.3s;

        &:hover {
          border-bottom: 1px solid rgba(0, 0, 0, 1);
        }

        &:focus {
          outline: none;
        }
      }
    }

    &__button {
      margin-top: 15px;
      width: 100%;
      background-color: transparent;
      color: #000;
      font-family: "Courier New";
      font-size: 16px;
      border: 1px solid #000;
      height: 30px;
      z-index: 4;
      cursor: pointer;
      transition: all ease-in-out 0.1s;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
