.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  position: relative;

  .auth-form {
    position: relative;
    @include acrylic-background-white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
    transition: margin 1s ease-in-out;
    z-index: 2;

    .auth_login {
      position: relative;
      font-weight: 600;
      font-size: rem(14px);
      line-height: rem(20px);
      width: max-content;
      margin-top: 20px;
      cursor: pointer;
      z-index: 2;

      &:hover {
        text-decoration: underline;
      }
    }

    .auth_error {
      position: relative;
      font-weight: 400;
      font-size: rem(14px);
      line-height: rem(20px);
      color: red;
      text-align: center;
      margin: 20px auto 0;
      z-index: 2;
    }

    .container {
      display: flex;
      flex-direction: column;

      width: 100%;
      margin: 30px;
      z-index: 4;
    }

    &__user-icon {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      $size: 100px;
      width: $size;
      height: $size;
      background-color: #767676;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 3rem;

      .ms-Spinner-circle {
        position: absolute;
        top: 0;
        left: 0;
        width: $size;
        height: $size;
      }
    }

    &__project-title {
      margin-top: 30px;
      text-align: center;
      z-index: 4;
    }

    &__title {
      margin-top: 30px;
      text-align: center;
      z-index: 4;
    }

    &__label {
      font-weight: 600;
      font-size: rem(14px);
      line-height: rem(20px);
      color: #000;
      width: 100%;
      margin-bottom: 10px;
    }

    &__inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      width: 100%;
      z-index: 4;

      &_input {
        background-color: transparent;
        font-weight: 400;
        font-size: rem(14px);
        line-height: rem(20px);
        color: #000;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
        border-radius: 0;
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        transition: all ease-in-out 0.3s;

        &:hover {
          border-bottom: 1px solid rgba(0, 0, 0, 1);
        }

        &:focus {
          outline: none;
        }
      }
    }

    &__button {
      @include button-white();
      margin-top: 15px;
      width: 100%;
      background-color: transparent;
      border: 1px solid #000;
      z-index: 4;

      &:hover {
        background-color: #000;
        color: #fff;
      }

      &:focus {
        outline: none;
      }
    }
  }

  @media screen and (max-width: 350px) {
    .container {
      margin: 30px 7px;
    }
  }

  @media screen and (max-height: 530px) {
    .auth-form {
      margin: 70px 0 20px;
    }
  }
}
